{% extends 'base.html.twig' %} {% block title %}New Event{% endblock %} {% block
body %}

<div class="container" style="max-width: 50rem">
  <div class="d-flex">
    <a
      href="{{ path('app_event_index') }}"
      class="text-capitalize text-decoration-none link-dark border border-dark rounded-pill py-2 px-3"
      >retour</a
    >
  </div>
  <div class="text-center">
    <h1>Créer un évènement</h1>
    <p class="mx-auto">
      Vous avez une compétence à partager ou une passion que vous voulez
      transmettre ? Organisez votre propre atelier ou conférence et invitez
      d'autres curieux à vous rejoindre !
    </p>
  </div>
</div>

{{ include("event/_form.html.twig") }}

{% endblock %}
