<div class="modal modal-lg fade" tabindex="-1" id="modalLogin">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 flex-column-reverse">
        <h5 class="modal-title text-uppercase fw-bold">CONNEXION</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% include 'login/formTabs.html.twig' %}
      </div>
    </div>
  </div>
</div>