<div class="modal modal-md fade" tabindex="-1" id="modalLogin">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-0 flex-column-reverse row">
        <div class="col-10">
          <img src="{{ asset('img/SkillShare.svg') }}" alt="SkillShare" />
        </div>
        <button
          type="button"
          class="btn-close me-4 mt-2"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %} {% include
        'login/form.html.twig' with { 'user': null, 'is_modal': true } %} {%
        endif %}
      </div>
    </div>
  </div>
</div>
