<div class="d-flex flex-column align-items-center">
	<p class="my-3">Ou connectez-vous via un autre compte</p>
	<ul class="list-inline">
		<li class="list-inline-item mx-3">
			<a href="{{ path('auth_oauth_connect', {service: 'google'}) }}"><img src="{{ asset('img/google.svg') }}" alt="google" class="img-fluid"></a>
		</li>
		<li class="list-inline-item mx-3">
			<a href="#"><img src="{{ asset('img/apple.svg') }}" alt="apple" class="img-fluid"></a>
		</li>
		<li class="list-inline-item mx-3">
			<a href="#"><img src="{{ asset('img/facebook.svg') }}" alt="facebook" class="img-fluid"></a>
		</li>
	</ul>
</div>
