// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/bootstrap";

:root {
  /* Couleurs principales */
  --background: #fcfcfc;
  --background-violet: #dcddfe;
  --footer-background: #261133;
  --connexion-btn: #671dd1;
  --bg-orange: #fe4f36;

  /* Couleurs Bootstrap personnalisées */
  --body-bg: var(--background);
  --primary: var(--bg-orange);
  --secondary: var(--background-violet);
  --btn-primary: var(--connexion-btn);
}

/* Bouton connexion */
.btn-connexion {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: var(--connexion-btn) !important;
  --bs-btn-border-color: var(--connexion-btn) !important;
  --bs-btn-hover-color: var(--connexion-btn) !important;
  --bs-btn-hover-bg: var(--background-violet) !important;
  --bs-btn-hover-border-color: var(--background-violet) !important;
}

/* Bouton action */
.btn-action {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: var(--bg-orange) !important;
  --bs-btn-border-color: var(--bg-orange) !important;
  --bs-btn-hover-color: var(--background-violet) !important;
  --bs-btn-hover-bg: var(--bg-orange) !important;
  --bs-btn-hover-border-color: var(--background-violet) !important;
}

/* Bouton catégorie */
.btn-category {
  --bs-btn-color: var(--bg-orange) !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: var(--bg-orange) !important;
  --bs-btn-hover-color: var(--background-violet) !important;
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-border-color: var(--background-violet) !important;
}
