// @import "bootstrap/scss/utilities";
// @import "bootstrap/scss/functions";
// @import "bootstrap/scss/variables";
// @import "bootstrap/scss/bootstrap";

:root {
  /* Couleurs principales */
  --background: #fcfcfc;
  --background-violet: #dcddfe;
  --footer-background: #261133;
  --connexion-btn: #671dd1;
  --bg-orange: #fe4f36;
  --texte: #261133;
  --beige: #F9C189;
  --violet: #671dd1;
  --dark-violet: #261133;


  /* Couleurs Bootstrap personnalisées */
  --bs-body-bg: var(--background);
  --bs-primary: var(--bg-orange);
  --bs-secondary: var(--background-violet);
  --bs-secondary-rgb: 220, 221, 254;
  --bs-btn-primary-bg: var(--connexion-btn);
  --bs-body-color: var(--texte) !important;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--bg-orange);
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--violet);
}




/* Bouton connexion */
.btn-connexion {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: var(--connexion-btn) !important;
  --bs-btn-border-color: var(--connexion-btn) !important;
  --bs-btn-hover-color: var(--connexion-btn) !important;
  --bs-btn-hover-bg: var(--background-violet) !important;
  --bs-btn-hover-border-color: var(--background-violet) !important;
}

/* Bouton action */
.btn-action {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: var(--bg-orange) !important;
  --bs-btn-border-color: var(--bg-orange) !important;
  --bs-btn-hover-color: var(--background-violet) !important;
  --bs-btn-hover-bg: var(--bg-orange) !important;
  --bs-btn-hover-border-color: var(--background-violet) !important;
}

/* Bouton catégorie */
.btn-category {
  --bs-btn-color: var(--bg-orange) !important;
  --bs-btn-bg: transparent !important;
  --bs-btn-border-color: var(--bg-orange) !important;
  --bs-btn-hover-color: var(--background-violet) !important;
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-border-color: var(--background-violet) !important;
}

.toggle-password-button {
  margin-top: 40px;
  padding-right: 10px;
}

.bg-beige {
  background-color: var(--beige);
}

.bg-footer {
  background-color: var(--footer-background);
}
