<div class="container">
  <h1>Votre paiement a été validé</h1>
  <div class="card">
    <div class="card-body">
      <p>Bonjour {{ user.firstName }} {{ user.lastName }},</p>

      <p>Votre paiement a été validé pour l'événement {{ event.name }}.</p>

      <p>
        Vous trouverez votre billet d'entrée en pièce jointe de cet email.
        N'oubliez pas de l'imprimer ou de le garder sur votre téléphone pour
        l'événement.
      </p>

      <p>Merci pour votre confiance,</p>

      <p>L'équipe de MyEvents</p>
    </div>
  </div>
</div>
