<footer class="bg-footer text-white py-4 mt-auto">
  <div class="container-fluid">
    <div class="row text-center text-md-start align-items-center">
      <div class="col-md-4 d-flex flex-column align-items-center mb-3">
        <h5>SkillShare</h5>
        <ul class="list-unstyled">
          <li>
            <a
              href="{{ path('app_home') }}"
              class="text-white text-decoration-none"
              >Accueil</a
            >
          </li>
          <li>
            <a
              href="{{ path('app_event_index') }}"
              class="text-white text-decoration-none"
              >Événements</a
            >
          </li>
          <li>
            <a
              href="{{ path('legal_mentions') }}"
              class="text-white text-decoration-none"
              >Mentions légales</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-4 d-flex flex-column align-items-center mb-3">
        <h5>Contact</h5>
        <p class="mb-1 text-white">Email : contact@skillshare.com</p>
        <p class="mb-1 text-white">Téléphone : 06 66 33 20 17</p>
      </div>

      <div class="col-md-4 d-flex flex-column align-items-center mb-3">
        <h5>Suivez-nous</h5>
        <div class="d-flex gap-3">
          <a href="#" class="text-white">
            <i class="bi bi-facebook fs-3"></i>
          </a>
          <a href="#" class="text-white">
            <i class="bi bi-twitter fs-3"></i>
          </a>
          <a href="#" class="text-white">
            <i class="bi bi-instagram fs-3"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="text-center pt-3 border-top border-light mt-3">
      <p class="mb-0">© 2025 SkillShare - Créé par Robin Sanchez-Avila</p>
    </div>
  </div>
</footer>
