<footer class="bg-footer text-white py-4">
	<div class="container-fluid">
		<div class="row text-center text-md-start">
			<div class="col-md-4 d-flex flex-column align-items-center mb-3">
				<h5>SkillShare</h5>
				<ul class="list-unstyled">
					<li>
						<a href="#" class="text-white text-decoration-none">Accueil</a>
					</li>
					<li>
						<a href="#" class="text-white text-decoration-none">Événements</a>
					</li>
					<li>
						<a href="#" class="text-white text-decoration-none">À propos</a>
					</li>
					<li>
						<a href="#" class="text-white text-decoration-none">Contact</a>
					</li>
				</ul>
			</div>

			<div class="col-md-4 d-flex flex-column align-items-center mb-3">
				<h5>Contact</h5>
				<p class="mb-1">Email :
					<a href="mailto:contact@skillshare.com" class="text-white">contact@skillshare.com</a>
				</p>
				<p class="mb-0">Téléphone :
					<a href="tel:0666332017" class="text-white">06 66 33 20 17</a>
				</p>
			</div>

			<div class="col-md-4 d-flex flex-column align-items-center mb-3">
				<h5>Suivez-nous</h5>
				<a href="#" class="text-white">
					<i class="bi bi-facebook"></i>
				</a>
				<a href="#" class="text-white">
					<i class="bi bi-twitter"></i>
				</a>
				<a href="#" class="text-white">
					<i class="bi bi-instagram"></i>
				</a>
			</div>
		</div>

		<div class="text-center pt-3 border-top border-light mt-3">
			<p class="mb-0">© 2025 SkillShare - Créé par Robin Sanchez-Avila</p>
		</div>
	</div>
</footer>
